name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
    test:
        runs-on: windows-latest
        
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Install Node
              uses: actions/setup-node@v4
              with:
                node-version: 20.16.0
            - name: Husky install
              run: npx mrm@2 lint-staged
            - name: Dependencies
              run: npm i
            - name: Install Chrome and Chromedriver
              run: |
                sudo apt-get update
                sudo apt-get install -y libappindicator3-1
                sudo apt-get install -y fonts-liberation
                sudo apt-get install -y xdg-utils
                wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
                sudo apt install -y ./google-chrome-stable_current_amd64.deb
                CHROME_VERSION=$(google-chrome --version | grep -oP "\d+\.\d+\.\d+\.\d+" | head -1)
                CHROMEDRIVER_VERSION=$(curl -s "https://chromedriver.storage.googleapis.com/LATEST_RELEASE_$CHROME_VERSION")
                wget https://chromedriver.storage.googleapis.com/$CHROMEDRIVER_VERSION/chromedriver_linux64.zip
                unzip chromedriver_linux64.zip
                sudo mv chromedriver /usr/bin/chromedriver
                sudo chmod +x /usr/bin/chromedriver
            - name: Run Tests
              run: npm run wdio
