run name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
    test:
        runs-on: windows-latest
        
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Install Node
              uses: actions/setup-node@v4
              with:
                node-version: 20.16.0
            - name: Husky install
              run: npx mrm@2 lint-staged
            - name: Dependencies
              run: npm i
            - name: Run Tests
              run: npm wdio
